* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.88px;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
}

.button-register {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    background: #6FBF44;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    border: 1px solid #4CB538;
    cursor: pointer;
}

.button-register:active {
    background-color: #619446;
    border: 1px solid #34772b;
}

.container {
    display: inline-block;
}

.img-logo {
    width: 595.18px;
    height: 500px;
    margin: 163px 0 0 100px;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
    letter-spacing: 0.6px;
    color: #161A49;
    width: 582px;
}

p {
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin: 47px 0 55px;
}

.button-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #6FBF44;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button-link:active {
    color: #4CB538;
}


@media screen and (max-width: 1024px) {
    .container {
        position: fixed;
        top: 400px;
        width: 100vw;
    }

    header {
        margin-top: 29px;
        margin-left: auto;
        position: relative;
        left: 70%;
    }

    .link {
        display: none;
    }

    h1 {
        font-size: 44px;
        line-height: 56px;
        letter-spacing: 0.6px;
        width: auto;
        margin: 50px 50px;
        text-align: center;
    }

    p {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.5px;
        width: auto;
        margin: 47px 50px 50px 50px;
    }

    section {
        display: block;
        margin: 0 auto;
    }

    .img-logo {
        display: block;
        position: relative;
        max-width: 90%;
        margin: 150px auto;
    }

    .button-link {
        position: absolute;
        right: 120px;
        font-size: 22px;
        line-height: 28px;
    }
}

@media screen and (max-width: 590px) {
    .container {
        position: fixed;
        top: 250px;
        width: 100vw;
    }

    .button-register {
        width: 91px;
        height: 31px;
    }

    h1 {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.6px;
        width: auto;
        margin: 15px 50px;
        text-align: center;
    }

    p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.5px;
        width: auto;
        margin: 20px 50px 20px 50px;
    }

    section {
        display: block;
        margin: 0 auto;
    }

    .img-logo {
        display: block;
        position: relative;
        max-width: 70%;
        margin: 120px auto;
    }

    .button-link {
        position: absolute;
        right: 70px;
        font-size: 18px;
        line-height: 20px;
    }
}